<StackLayout>
    <!--------------------------------------------------------------------------------------------------------------------->
    <TextField [(ngModel)]="strEmail"
               (textChange)="onTextChange($event)"
               hint="Email"
               keyboardType="email"
               autocorrect="false"
               autocapitalizationType="none"
    ></TextField>
    <!--------------------------------------------------------------------------------------------------------------------->
    <TextField [(ngModel)]="strPassword"
               (textChange)="onTextChange($event)"
               hint="Password"
               secure="true">
    </TextField>
    <!--------------------------------------------------------------------------------------------------------------------->
    <Button text="Sing In"
            class="btn btn-primary"
            [isEnabled]=" boolEnableBtn"
            (tap)="onSubmit()">
    </Button>
</StackLayout>
