<GridLayout>

    <!-- Map --->
    <ns-map
            visibility="{{ this.userService.Ruta.arrParadas ? 'visible' : 'collapsed' }}"
    row="0"
    [arrParadas]="this.userService.Ruta.arrParadas"
    ></ns-map>

    <!-- user Info -->
    <ns-passenger-info
            *ngIf="boolShowInfo"
            (onMessageLogOut)="onLogOut($event)"
            [User]="userService.User"
    ></ns-passenger-info>

    <ns-tickets
            *ngIf="boolShowTicket"
    ></ns-tickets>


    <!-- User Image -->
    <Image
            src="https://66.media.tumblr.com/7b1790aa4b0e76318f62da5d4a0dd69f/tumblr_pf7xynYOGR1t2c4f8o2_250.png"
            borderRadius="100"
            width="60"
            height="60"
            row="0"
            horizontalAlignment="left"
            verticalAlignment="top"
            marginTop="10"
            marginLeft="10"
            (tap)="onImageClick()"
    ></Image>

    <Image src="https://img.icons8.com/ios-glyphs/80/000000/add-ticket.png"
           width="60"
           height="60"
           row="0"
           horizontalAlignment="right"
           verticalAlignment="top"
           marginTop="10"
           marginRight="10"
           (tap)="onTicketClick()"
    ></Image>


</GridLayout>
