<StackLayout
        horizontalAlignment="left"
        verticalAlignment="top"
        marginTop="30"
        marginLeft="50"
        width="210" height="100" backgroundColor="white"
        borderRadius="10"
>
    <TextView editable="false" marginLeft="18">

        <FormattedString>
            <Span text="Angel Treviño Villanueva" fontWeight="Bold" fontSize="15"></Span>
            <Span text="&#xA;"></Span>
            <Span text="A01336559"></Span>
        </FormattedString>

    </TextView>

</StackLayout>
