<StackLayout
        horizontalAlignment="left"
        verticalAlignment="top"
        marginTop="30"
        marginLeft="50"
        width="210" height="100" backgroundColor="white"
        borderRadius="10"
>
    <TextView editable="false" marginLeft="18">

        <FormattedString *ngIf="User">
            <Span text=" {{ User.strName }}" fontWeight="Bold" fontSize="15"></Span>
            <Span text="&#xA;"></Span>
            <Span text=" {{ User.strId }} "></Span>
        </FormattedString>

    </TextView>
    <Image
            src="https://img.icons8.com/color/48/000000/shutdown.png"
            width="40"
            height="40"
            marginRight="15"
            horizontalAlignment="right"
            (tap)="onTapLogOut()"
    ></Image>

</StackLayout>
